<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='test.css')}}">
    

  </head>
  <body>
    <form method="POST">
      <div class="container" >
        <h2>Video Category</h2>
  
        <div class="select-box">
          <div class="options-container">
            <div class="option">
              <input
                type="radio"
                class="radio"
                id="automobiles"
                name="category"
                value="1"
              />
              <label for="automobiles">Automobiles</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="film" name="category" />
              <label for="film">Film & Animation</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="science" name="category" />
              <label for="science">Science & Technology</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="art" name="category" />
              <label for="art">Art</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="music" name="category" />
              <label for="music">Music</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="travel" name="category" />
              <label for="travel">Travel & Events</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="sports" name="category" />
              <label for="sports">Sports</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="news" name="category" />
              <label for="news">News & Politics</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="tutorials" name="category" />
              <label for="tutorials">Tutorials</label>
            </div>
          </div>
  
          <div class="selected" >
            Select Video Category
          </div>
  
          <div class="search-box">
            <input type="text" placeholder="Start Typing..." />
          </div>
        </div>
  
        <!--<h2>Video Category</h2>-->
      
        <div class="select-box">
          <div class="options-container">
            <div class="option">
              <input
                type="radio"
                class="radio"
                id="automobiles"
                name="category1"
                value="2"
              />
              <label for="automobiles">Automobiles</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="film" name="category1" value="2"/>
              <label for="film">Film & Animation</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="science" name="category1" />
              <label for="science">Science & Technology</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="art" name="category1" />
              <label for="art">Art</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="music" name="category1" />
              <label for="music">Music</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="travel" name="category1" />
              <label for="travel">Travel & Events</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="sports" name="category1" />
              <label for="sports">Sports</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="news" name="category1" />
              <label for="news">News & Politics</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="tutorials" name="category1" />
              <label for="tutorials">Tutorials</label>
            </div>
          </div>
  
          <div class="selected">
            Select Video Category
          </div>
  
          <div class="search-box">
            <input type="text" placeholder="Start Typing..." />
          </div>
        </div>

     
  
        <h2>Video Category</h2>
  
        <div class="select-box">
          <div class="options-container">
            <div class="option">
              <input
                type="radio"
                class="radio"
                id="automobiles"
                name="category2"
                value="3"
              />
              <label for="automobiles">Automobiles</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="film" name="category2" />
              <label for="film">Film & Animation</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="science" name="category2" />
              <label for="science">Science & Technology</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="art" name="category2" />
              <label for="art">Art</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="music" name="category2" />
              <label for="music">Music</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="travel" name="category2" />
              <label for="travel">Travel & Events</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="sports" name="category2" />
              <label for="sports">Sports</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="news" name="category2" />
              <label for="news">News & Politics</label>
            </div>
  
            <div class="option">
              <input type="radio" class="radio" id="tutorials" name="category2" />
              <label for="tutorials">Tutorials</label>
            </div>
          </div>
  
          <div class="selected">
            Select Video Category
          </div>
  
          <div class="search-box">
            <input type="text" placeholder="Start Typing..." />
          </div>
        </div>
      </div>
  
      <script src="{{url_for('static',filename='test.js')}}"></script>
      <button type="submit">SUBMIT</button>
    </form>
  </body>
</html>
